.header__inner {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  height: 64px;                   
}


.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__logo {
  height: 32px;
  width: auto;
}

.header__list {
  display: flex;
  gap: 34px;
}

.header__link {
  font-size: 16px;
}


.header__right {
  display: flex;
  align-items: center;
  gap: 88px;
}

.header__lang {
  padding: 8px;
}

.header__btn {  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17px 27px;
  max-height: 50px;
}
